*,
.menu-list,
.offcanvas-body,
a,
ul {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
#root,
.homemain {
  height: 93vh;
}

.homemain,
.projectsmain {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10%;
  background-image: url("/src/images/mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.font-colour {
  font-weight: bold;
  background-image: linear-gradient(45deg, #cc2b5e, #753a88);
  background-clip: text;
  color: transparent;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.menu-pop,
.link-btn,
.mobile-nav {
  background-image: linear-gradient(45deg, #08343f, #0dc3ec);
}

.offcanvas-body {
  display: flex;
  justify-content: center;
  text-align: center;
}

.menu-link {
  color: #fff;
  font-size: 32px;
}

.icon,
.icon_second {
  width: 25px;
  height: 25px;
}

.mobile-nav {
  position: relative;
}

.lang {
  border-bottom: 2px solid;
  border-top: 1px solid;
}

img {
  width: 100%;
  border-radius: 10px;
}

.link-btn {
  border-radius: 25px 0;
  border: none;
}

.icon {
  color: #fd2d00;
}

.icon_second {
  color: #df007c;
}

.desk-nav {
  display: none;
}

@media only screen and (min-width: 768px) {
  #root {
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 90%;
  }
  
  nav,
  nav ul,
  .socials,
  .skills {
    display: flex;
  }

  .desk-nav {
    display: block;
  }

  .mobile-nav {
    display: none;
  }
  
  nav,
  .homemain {
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul li {
    padding-left: 100px;
  }
  
  nav,
  .homemain,
  .contactmain,
  .aboutmain,
  .projectsmain {
    padding: 20px 30px;
  }
  
  .homemain,
  .contactmain,
  .aboutmain {
    display: grid;
  }
  
  .homemain {
    grid-template-columns: 50% 10%;
  }
  
  .contactmain,
  .aboutmain {
    grid-template-columns: 40% 40%;
    justify-content: space-between;
    align-content: center;
  }
  
  .projects {
    display: flex;
    align-items: flex-end;
  }
  
  .socials ul,
  .skills {
    flex-direction: column;
  }
  
  .socials {
    justify-self: end;
  }
  
  .socials ul li {
    padding: 5px 0;
  }
  
  .contactsocials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .images {
    width: 50%;
  }
  
}
