*,
.menu-list,
.offcanvas-body,
a,
ul {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

body {
  margin: 0;
  font-family: 'Arial', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
#root,
.homemain {
  height: 100vh;
}

.contactmain {
  background-color: #381B46;
  padding: 5%;
}

.aboutmain,
.projectsmain {
  /* height: 150vh; */
  background-color: #462357;
}

.projectsmain {
  height: auto;
}
.projectsmain header {
  padding-top: 5%;
}

.projects-cont {
  padding-bottom: 5%;
}

.services {
  background-color: #381B46;
}

.homemain,
.projectsmain,
.aboutmain,
.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.logo {
  height: 100px;
  margin-right: 10px;
}

.font-colour {
  color: #FFDA22;
  text-decoration: underline;
}

.nav-link {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  color: #ffffff;
}

.nav-link:hover {
  background-color: #bad4aa;
  border-radius: 5px;
}

.about p,
.sub {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: white;
}

.outrop {
  font-size: 18px;
}

.modal-content,
.mobile-nav,
.desk-nav {
  background-color: #381B46;
  box-shadow: 0 4px 4px 0 rgba(255, 218, 34, 0.25);
}

.read_more {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
  }

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.menu-pop,
.link-btn,
.link-btn-2 {
  width: 80%;
}

.call-to-action {
  color: #ffffff;
}

.call-to-action span {
  color: #edb458;
}

.offcanvas-body {
  display: flex;
  justify-content: center;
  text-align: center;
}

.menu-link {
  font-size: 32px;
}

.icon,
.icon_second,
.icon_third,
.icon_fourth,
.icon_fifth {
  width: 40px;
  height: 40px;
  margin: 5px;
}

.icon {
  color: #ebf5df;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: translateX(-3px);
}

.icon_second {
  color: #e8871e;
  transition: transform 0.3s ease;
}

.icon_second:hover {
  transform: translateX(3px);
}

.icon_third {
  color: #bad4aa;
  transition: transform 0.3s ease;
}

.icon_third:hover {
  transform: translateX(-3px);
}

.icon_fourth {
  color: #edb458;
  transition: transform 0.3s ease;
}

.icon_fourth:hover {
  transform: translateX(3px);
}

.icon_fifth {
  color: #d4d4aa;
  transition: transform 0.3s ease;
}

.icon_fifth:hover {
  transform: translateX(-3px);
}

.card {
  position: static;
}

.contactsocials {
  width: 80%
}

.lang li {
  padding: 5px;
  margin: 5px;
  border: 1px solid white;
  border-radius: 25px;
  font-size: 12px;
}

img {
  width: 100%;
  border-radius: 5px;
}

.link-btn,
.link-btn-2 {
  border-radius: 3px;
  border: none;
  font-size: 16px;
}

.proj-link {
  border-radius: 3px;
  border: none;
  padding: 10px;
  border-radius: 25px;
  color: white;
  text-align: right;
  right: 10px;
  bottom: 10px;
  position: absolute;
}

.desk-nav {
  display: none;
  height: 10vh;
}

.form-input {
  border: none;
  width: 80%;
  background-color: transparent;
  border-bottom: 1.5px solid #c2c2c2;
}

.items {
  display: block;
  color: white;
  text-align: center;
  overflow-wrap: break-word;
  font-size: 16px;
}

.carousel-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carousel-item {
  width: 100%;
  text-align: center;
}

.button {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.project_description {
  height: 120px;
}

.link-btn {
  background-color: #FFDA22;
  color: #381B46;
}

.hire {
  background-color: #3BB44D;
  margin-left: 20px;
}

.skills-btn {
  padding: 0.5rem !important;
  background-color: #edb458;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .4);
  border-radius: 5px;
  border: none;
  justify-content: space-around;
  max-width: 130px;
  min-width: 130px;
}

.skills {
  gap: 50px;
  justify-content: center;
  align-items: end;
  padding: 100px 0;
  flex-wrap: wrap;
}

.servicesContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about h4 {
  padding: 5% 0;
  font-style: italic;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
}

.box img {
  width: 30%;
}

.box h4 {
  color: white;
}

.box p {
  color: white;
  text-align: center;
}

.link-btn-2 {
  background-color: #ebf5df;
}

.arrows {
  border: none;
  background: none;
  font-size: 30px;
}

.homemain {
  background-color: #381B46;
}

.projects-cont {
  display: flex;
  flex-direction: column;
}

.desk-nav ul {
  width: 50%;
}

.skillscard {
  text-align: center;
}

.skillscard h4 {
  color: white;
  text-align: center;
  font-weight: 600;
  padding: 10px 0;
}

.skillscard img {
  width: 70%;
  text-align: center;
}

.cont-links {
  gap: 10px;
}

.intro header h3,
.intro p,
.about,
.outro h5 {
  color: #ffffff;
}

.social-link {
  color: white;
  font-size: 18px;
  margin-left: 5px;
}

.contact h4 {
  color: white;
}

.contact ul li {
  padding-bottom: 5px;
}

.image-container {
  position: relative;
  width: 100%;
  max-width: 300px;
  height: 180px;
}

.images {
  display: block;
  max-width: 100%;
  height: 180px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3BB44D;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay-text {
  padding: 10px;
}

.overlay-text p {
  font-size: 14px;
}

@media only screen and (min-width: 800px) {
  .mobile-nav {
    display: none;
  }

  .desk-nav {
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 3px 50px;
    z-index: 1000;
  }

  .desk-nav ul {
    width: 50%;
  }

  .contactmain {
    display: flex;
    flex-direction: row;
    height: 50vh;
    background-color: #381B46;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  nav ul {
    justify-content: space-between;
  }

  nav ul,
  .desk-nav,
  .skills {
    display: flex;
  }

  .active,
  .navLinks li a:hover {
    border: none;
    border-bottom: 3px solid #FFF9DB;
  }

  .homemain {    
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
  }

  .servicesContainer{
    flex-direction: row;
  }

  .aboutmain,
  .services {
    align-items: center;
  }

  .about,
  .outro {
    width: 80%;
  }

  .intro {
    width: 60%;
  }

  .intro header h1,
  .about header h1,
  .outro header h1 {
    font-size: 5rem;
    text-align: center;
  }

  .intro header h3 {
    font-size: 3rem;
  }

  .intro p,
  .about,
  .outro h5 {
    font-size: 1.5rem;
  }

  .intro header h4 {
    font-size: 2rem;
  }

  .about,
  .outro h5 {
    text-align: center;
  }

  .socials ul {
    height: 90%;
    flex-direction: column;
  }

  .link-btn {
    padding: 0.5rem !important;
  }

  .projects-cont {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2%;
    align-items: center;
    justify-content: center;
  }

  .projects {
    width: 22%;
  }

  .projectsmain,
  .aboutmain,
  .contactmain {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
