*,
.menu-list,
.offcanvas-body,
a,
ul {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

body {
  margin: 0;
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
#root,
.homemain,
.contactmain {
  height: 100vh;
}

.aboutmain {
  height: 150vh;
}

.homemain,
.projectsmain,
.aboutmain,
.contactmain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.logo {
  height: 50px;
  margin-right: 10px;
}

.font-colour {
  color: #e8871e;
}

.nav-link {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  color: #393939;
}

.nav-link:hover {
  background-color: #bad4aa;
  border-radius: 5px;
}

.about p,
.outrop {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.outrop {
  font-size: 20px;
}

.modal-content,
.projects,
.mobile-nav,
.desk-nav {
  background-color: #FFD1DC;
}

.projects {
  justify-content: space-between;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.menu-pop,
.link-btn,
.link-btn-2 {
  width: 80%;
}

.call-to-action {
  color: #edb458;
}

.offcanvas-body {
  display: flex;
  justify-content: center;
  text-align: center;
}

.menu-link {
  font-size: 32px;
}

.icon,
.icon_second,
.icon_third,
.icon_fourth,
.icon_fifth {
  width: 40px;
  height: 40px;
  margin: 5px;
}

.icon {
  color: #ebf5df;
}

.icon_second {
  color: #e8871e;
}

.icon_third {
  color: #bad4aa;
}

.icon_fourth {
  color: #edb458;
}

.icon_fifth {
  color: #d4d4aa;
}

.card {
  position: static;
}

.lang {
  border-bottom: 2px solid;
  border-top: 1px solid;
}

img {
  width: 100%;
  border-radius: 10px;
}

.link-btn,
.link-btn-2 {
  border-radius: 5px;
  border: none;
}

.desk-nav {
  display: none;
  height: 10vh;
}

.form-input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #737272;
}

.dropdown-menu {
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-item {
  padding: 12px 16px;
  cursor: pointer;
  display: block;
}

.carousel-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carousel-item {
  width: 100%;
  text-align: center;
}

.button {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.images {
  max-width: 100%;
  height: auto;
}

.link-btn {
  background-color: #edb458;
}

.link-btn-2 {
  background-color: #ebf5df;
}

.arrows {
      height: 50px;
      width: 50px;
        border-radius: 100%;
}

.homemain {
  background-color: #FFD1DC;
}

.aboutmain {
  background-color: #FFD1DC;
}

.projectsmain,
.aboutmain,
.contactmain {}

@media only screen and (min-width: 800px) {
  .mobile-nav {
    display: none;
  }

    .aboutmain {
      height: 70vh;
    }

  .desk-nav {
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 3px 30px;
  }

  nav ul li {
    padding-left: 100px;
  }

  nav ul,
  .desk-nav,
  .skills,
  .projects {
    display: flex;
  }

  .active,
  .navLinks li a:hover {
    border: none;
    border-bottom: 3px solid #FFF9DB;
  }

  .homemain,
  .aboutmain {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .intro,
  .about,
  .outro {
    width: 60%;
  }

  .intro header h1,
  .about header h1,
  .outro header h1 {
    font-size: 5rem;
  }

  .intro header h3 {
    font-size: 3rem;
    color: #393939;
  }

  .intro header h4 {
    font-size: 2rem;
  }

  .intro p,
  .about,
  .outro p,
  .outro h5 {
    font-size: 1.5rem;
    color: #393939;
  }

  .socials ul {
    height: 90%;
    flex-direction: column;
  }

  .link-btn {
    padding: 0.5rem !important;
  }

  .projects-cont {
    display: flex;
    flex-wrap: wrap;
    column-gap: 3%;
    row-gap: 3%;
    align-items: center;
    justify-content: center;
  }

  .projects {
    width: 20%;
  }

  /* .homemain, */
  .projectsmain,
  .aboutmain,
  .contactmain {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
